projetagilite/projetagilite/__pycache__/__init__.cpython-313.pyc
projetagilite/projetagilite/__pycache__/settings.cpython-313.pyc
projetagilite/projetagilite/__pycache__/urls.cpython-313.pyc
projetagilite/projetagilite/__pycache__/wsgi.cpython-313.pyc
projetagilite/db.sqlite3
projetagilite/equipements/__pycache__
projetagilite/equipements/migrations/__pycache__
